{% extends 'registration/template.html' %}
{% load widget_tweaks %}
{% block title %}Смена пароля - АИС Мониторинг принтеров{% endblock %}

{% block content %}
<h4 class="text-center mb-4">Смена пароля</h4>
<form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    <div class="form-group">
        <label class="mb-1">Пользователь: <strong>{{ user }}</strong></label>
    </div>
    <div class="form-group">
        <label class="mb-1"><strong>{{ form.old_password.label_tag }}</strong></label>
        {{ form.old_password|add_class:"form-control" }}
        {% if form.old_password.errors %}
            {% for error in form.old_password.errors %}
                {% if error != 'Обязательное поле.' %}
                <p class="text-danger">{{ error }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
        <label class="mb-1"><strong>{{ form.new_password1.label_tag }}</strong></label>
        {{ form.new_password1|add_class:"form-control" }}
        {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
                {% if error != 'Обязательное поле.' %}
                <p class="text-danger">{{ error }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        {{ form.new_password1.help_text }}
    </div>
    <div class="form-group">
        <label class="mb-1"><strong>{{ form.new_password2.label_tag }}</strong></label>
        {{ form.new_password2|add_class:"form-control" }}
        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                {% if error != 'Обязательное поле.' %}
                <p class="text-danger">{{ error }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% if form.non_field_errors %}
        <p class="text-danger">{{ form.non_field_errors }}</p>
    {% endif %}
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block">Сменить пароль</button>
    </div>
    <div class="new-account mt-3">
        <p><a class="text-primary" href="{% url 'monitoring:index' %}">Вернуться на главную страницу</a></p>
    </div>
</form>
{% endblock %}
